@charset "UTF-8";
/* Sass */
/* Fuentes */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* Estilos generales */
:root {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  /* variables */
  --main-color: #ff73c0;
  --main-color-10: rgba(255, 115, 192, 0.1);
  --main-color-25: rgba(255, 115, 192, 0.25);
  --btn-prn-hover: #f55eb1;
  --btn-sec-hover: #f2f2f2;
  --text-color: #444;
  --text-color-ligth: #888;
  --border-radius: 10px;
  --border-radius-input: 5px;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.btn-principal {
  text-decoration: none;
  font-size: 1rem;
  color: #fff;
  padding: 15px 70px;
  border-radius: var(--border-radius);
  cursor: pointer;
  background-color: var(--main-color);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  border: 1px transparent solid;
  text-transform: uppercase;
  text-align: center;
  transition: 0.3s ease-in-out;
}
.btn-principal:hover {
  background-color: var(--btn-prn-hover);
}

.btn-secundario {
  display: inline;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
  padding: 10px 50px;
  cursor: pointer;
  color: var(--main-color);
  background-color: #fff;
  border: 1px var(--main-color) solid;
  border-radius: var(--border-radius);
  transition: 0.3s ease-in-out;
}
.btn-secundario:hover {
  background-color: var(--btn-sec-hover);
}

.p-subtitle {
  font-weight: 600;
  color: var(--text-color);
}

.li-not-padding {
  list-style: none;
  color: var(--text-color);
}
.li-not-padding::before {
  content: "▪ ";
}

section.privacidad,
section.condiciones,
section.copyright,
section.disclaimer,
section.nosotros,
section.servicios,
section.portafolio,
section.contacto {
  padding: 50px 100px;
  margin-bottom: 100px;
}
section.privacidad h2,
section.condiciones h2,
section.copyright h2,
section.disclaimer h2,
section.nosotros h2,
section.servicios h2,
section.portafolio h2,
section.contacto h2 {
  text-transform: uppercase;
  color: var(--main-color);
  font-weight: 700;
  text-align: center;
}
section.privacidad h1,
section.condiciones h1,
section.copyright h1,
section.disclaimer h1,
section.nosotros h1,
section.servicios h1,
section.portafolio h1,
section.contacto h1 {
  text-transform: uppercase;
  color: var(--text-color);
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 50px;
  padding-bottom: 50px;
  border-bottom: 2px var(--text-color-ligth) solid;
}
section.privacidad p,
section.condiciones p,
section.copyright p,
section.disclaimer p,
section.nosotros p,
section.servicios p,
section.portafolio p,
section.contacto p {
  margin: 30px auto;
  color: var(--text-color);
}

/* header INICIO*/
header.inicio {
  text-align: center;
  height: 100vh;
  background-image: linear-gradient(to top, rgba(247, 102, 223, 0.3), rgba(76, 47, 112, 0.4)), url("../images/banner.jpg");
  background-size: cover;
}
header.inicio .barra-navegacion {
  padding: 10px;
  background: #020024;
  background: linear-gradient(0deg, rgba(2, 0, 36, 0) 0%, black 100%, #00d4ff 100%);
}

header.paginas {
  text-align: center;
}
header.paginas .barra-navegacion {
  padding: 10px;
  background: #000;
}

.barra-navegacion-mobile,
.menu-icon {
  display: none;
}

.barra-navegacion {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  padding: auto 20px;
}

.logo img {
  width: 3rem;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0;
}
nav ul li {
  list-style: none;
  display: inline;
  padding: 10px 20px;
}
nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}

.idioma img {
  width: 2em;
  cursor: pointer;
}

.titulos {
  color: #fff;
  text-transform: uppercase;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.titulos h2 {
  font-weight: 300;
  font-size: 1.4rem;
  animation: fade-in 0.7s;
}
.titulos h1 {
  font-weight: 400;
  font-size: 4rem;
  margin-bottom: 50px;
  animation: fade-in 1s;
}

.btn-principal {
  animation: fade-in 1.3s;
}

section.informacion {
  background-color: var(--main-color-10);
  padding: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
section.informacion .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #fff;
  width: 30%;
  padding: 4rem;
  margin: 0 3rem;
  border-radius: var(--border-radius);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  text-align: left;
}
section.informacion .card .subtitulo {
  text-transform: uppercase;
  color: var(--main-color);
  font-weight: 600;
}
section.informacion .card .titulo {
  color: var(--text-color-ligth);
  font-size: 1.7rem;
  border-bottom: 1px var(--text-color) solid;
  padding-bottom: 0.5rem;
  margin-bottom: 2rem;
}
section.informacion .card .info {
  color: var(--text-color-ligth);
  font-size: 1rem;
  font-weight: 300;
  padding-bottom: 20px;
}
section.informacion .card .body-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
section.comentarios {
  padding: 100px;
  background-color: var(--main-color-10);
  text-align: center;
}
section.comentarios > h3 {
  color: var(--main-color);
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto 50px auto;
  font-weight: 500;
  font-size: 1.5rem;
}
section.comentarios .comentario {
  background-color: #fff;
  padding: 50px;
  border-radius: var(--border-radius);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
section.comentarios .comentario img {
  display: inline;
}
section.comentarios .comentario img.anterior, section.comentarios .comentario img.siguiente {
  cursor: pointer;
  height: 22px;
}
section.comentarios .comentario img.siguiente {
  transform: scaleX(-1);
}
section.comentarios .comentario p {
  display: inline;
  font-style: italic;
  font-size: 1rem;
  font-weight: 400;
  margin: 0 25px;
}
section.comentarios .comentario p#com-2, section.comentarios .comentario p#com-3 {
  display: none;
}

/* Galeria */
.galeria {
  max-width: 85%;
  padding: 75px 0;
  text-align: center;
  margin: 0 auto;
}
.galeria > h3 {
  color: var(--main-color);
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto 50px auto;
  font-weight: 500;
  font-size: 1.5rem;
}
.galeria .grid-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1em;
  width: 90%;
  margin: 30px auto;
}
.galeria .grid-container a {
  width: 100%;
  height: 100%;
  max-height: 180px;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius);
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.7);
  transition: all 0.8s;
  cursor: pointer;
  overflow: hidden;
}
.galeria .grid-container a.img-1 {
  grid-column: 1/3;
  grid-row: 1/1;
}
.galeria .grid-container a.img-2 {
  grid-column: 3/4;
  grid-row: 1/1;
}
.galeria .grid-container a.img-3 {
  grid-column: 4/5;
  grid-row: 1/1;
}
.galeria .grid-container a.img-4 {
  grid-column: 5/7;
  grid-row: 1/1;
}
.galeria .grid-container a.img-5 {
  grid-column: 1/2;
  grid-row: 2/3;
}
.galeria .grid-container a.img-6 {
  grid-column: 2/3;
  grid-row: 2/3;
}
.galeria .grid-container a.img-7 {
  grid-column: 3/5;
  grid-row: 2/3;
}
.galeria .grid-container a.img-8 {
  grid-column: 6/7;
  grid-row: 2/3;
}
.galeria .grid-container a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Page-Portafolio */
.portafolio .galeria {
  padding: 0;
}
.portafolio h4 {
  text-align: left;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 2rem;
  margin-left: 3%;
}

.nosotros img {
  float: right;
  margin-left: 30px;
  width: 30%;
}

/* section-servicios */
section.servicios {
  text-align: right;
  display: flex;
  flex-direction: column;
}
section.servicios .servicio {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 50px auto;
}
section.servicios h4 {
  display: inline-block;
  width: 50%;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 3rem;
  text-align: left;
}
section.servicios .contenido {
  display: inline-block;
  text-align: left;
  width: 50%;
}
section.servicios .contenido p {
  color: var(--text-color-ligth);
  margin: 0;
}
section.servicios ul {
  display: inline-block;
  text-align: left;
  list-style: none;
  padding-left: 0;
  margin: 1em 0;
}
section.servicios ul li {
  border-top-color: rgba(99, 116, 133, 0.25);
  color: var(--text-color-ligth);
  font-size: 0.85rem;
  border-top: solid 1px;
  padding: 0.5em 0;
}
section.servicios ul li:first-child {
  border-top: 0;
  padding-top: 0;
}
section.servicios ul li span {
  font-weight: 600;
  color: var(--text-color);
}

/* section-contacto */
section.contacto {
  display: flex;
  flex-direction: column;
}
section.contacto form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}
section.contacto form .derecha,
section.contacto form .izquierda {
  display: inline-block;
  padding: 20px;
  margin: 2%;
  width: 40%;
}
section.contacto form input[type=text],
section.contacto form input[type=email],
section.contacto form input[type=number] {
  width: 90%;
  border: 2px var(--main-color) solid;
  padding: 10px;
  border-radius: var(--border-radius-input);
  margin: 20px auto;
}
section.contacto form input[type=text]::placeholder,
section.contacto form input[type=email]::placeholder,
section.contacto form input[type=number]::placeholder {
  color: var(--text-color);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1rem;
}
section.contacto form input[type=text]:focus,
section.contacto form input[type=email]:focus,
section.contacto form input[type=number]:focus {
  border: 2px var(--main-color) solid;
  background: var(--main-color-10);
}
section.contacto form input[type=text]:focus::placeholder,
section.contacto form input[type=email]:focus::placeholder,
section.contacto form input[type=number]:focus::placeholder {
  color: var(--text-color-ligth);
}
section.contacto form textarea {
  width: 90%;
  display: inline-block;
  border: 2px var(--main-color) solid;
  padding: 10px;
  margin: 20px auto;
  border-radius: var(--border-radius-input);
  height: 135px;
}
section.contacto form textarea::placeholder {
  color: var(--text-color);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1rem;
}
section.contacto form textarea:focus {
  border: 2px var(--main-color) solid;
  background: var(--main-color-10);
}
section.contacto form textarea:focus::placeholder {
  color: var(--text-color-ligth);
}

/* footer */
footer {
  padding: 100px 0;
  border-top: 1px var(--main-color) solid;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
footer ul li {
  list-style: none;
}
footer ul li a {
  text-decoration: none;
  color: var(--text-color);
}
footer nav.servicios,
footer nav.legales {
  display: inline-block;
}
footer nav.servicios ul,
footer nav.legales ul {
  display: flex;
  flex-direction: column;
}
footer nav.servicios p,
footer nav.legales p {
  margin-bottom: 5px;
  font-weight: 600;
  color: var(--main-color);
}
footer .footer-right {
  display: inline-block;
  text-align: center;
  margin-left: 10%;
}
footer .footer-right .redes-sociales li {
  display: inline-block;
  margin-bottom: 30px;
  padding: 10px;
}
footer .footer-right .redes-sociales li img {
  width: 2rem;
}

/* MEDIA QUERIES (Responsive) */
/* Solo menu-mobile */
@media screen and (max-width: 1080px) {
  :root {
    font-size: 14px;
  }

  .btn-secundario,
.btn-principal {
    padding: 10px 25px;
  }

  /* Menu mobile */
  header .barra-navegacion {
    display: none;
  }

  header {
    padding: 15px;
  }

  header .menu-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: right;
    margin: 0;
  }

  header .menu-icon img {
    width: 4rem;
  }

  header .menu-icon .btn-menu {
    color: #fff;
    font-size: 2.5rem;
  }

  header.paginas .menu-icon .btn-menu {
    color: var(--text-color);
  }

  header .barra-navegacion-mobile {
    display: block;
    position: fixed;
    top: 15%;
    left: -100%;
    overflow: hidden;
    width: 200px;
    height: auto;
    background-color: rgba(0, 0, 0, 0.9);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.9);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.9);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.9);
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
    z-index: 10;
  }

  header .barra-navegacion-mobile ul li {
    text-align: left;
    border-bottom: 1px solid var(--text-color-ligth);
  }

  header .barra-navegacion-mobile ul li:last-child {
    text-align: left;
    border-bottom: none;
  }

  header .barra-navegacion-mobile ul li a {
    display: inline-block;
    color: white;
    text-decoration: none;
    width: 100%;
    padding: 20px;
  }
}
/* Telefonos */
@media screen and (max-width: 800px) {
  /* Generales */
  section.privacidad,
section.condiciones,
section.copyright,
section.disclaimer,
section.nosotros,
section.servicios,
section.portafolio,
section.contacto {
    padding: 50px;
    margin-bottom: 100px;
  }
  section.privacidad h1,
section.condiciones h1,
section.copyright h1,
section.disclaimer h1,
section.nosotros h1,
section.servicios h1,
section.portafolio h1,
section.contacto h1 {
    font-size: 2.3rem;
  }

  /* section-informacion */
  section.informacion {
    background-color: var(--main-color-10);
    padding: 100px 1rem;
    display: flex;
    flex-direction: column;
  }

  section.informacion .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #fff;
    width: 60%;
    margin: 1rem auto;
    border-radius: var(--border-radius);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    text-align: left;
    padding: 50px;
  }

  /* section-galeria */
  .galeria {
    padding: 75px 5px;
  }
  .galeria .grid-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .galeria .grid-container img {
    width: 45%;
    height: 150px;
  }

  /* section-comentarios */
  section.comentarios {
    padding: 50px;
  }

  section.comentarios .comentario {
    padding: 20px;
  }

  /* section-nosotros */
  section.nosotros img {
    float: right;
    margin-left: 10px;
    width: 60%;
  }

  /* section-servicios */
  section.servicios .servicio {
    flex-direction: column;
    margin: 50px auto;
  }

  section.servicios h4 {
    width: 100%;
    font-size: 2.5rem;
    text-align: center;
  }

  section.servicios .contenido {
    text-align: center;
    width: 100%;
  }

  /* section-portafolio */
  section.portafolio {
    padding: 50px 5px;
  }
  section.portafolio h1 {
    margin: 10px 40px;
  }
  section.portafolio h4 {
    text-align: center;
  }

  /* section-contacto */
  section.contacto form .derecha,
section.contacto form .izquierda {
    padding: 5px;
    width: 100%;
  }

  section.contacto textarea {
    margin: 5px auto;
  }

  /* Tienda */
  .container-fluid {
    padding: 0 !important;
  }

  /* footer */
  footer {
    margin: 0;
    padding: 50px 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  footer ul {
    width: auto;
  }

  footer .servicios,
footer .legales {
    display: inline-block;
    text-align: center;
    margin: 20px auto;
    width: 100%;
  }

  footer .footer-right {
    margin-left: 0;
  }
}
/* Animaciones css */
@keyframes fade-in {
  0% {
    opacity: 0;
    transform: scale3d(0.75, 0.75, 1);
  }
  70% {
    opacity: 0;
    transform: scale3d(0.75, 0.75, 1);
  }
  100% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}
@keyframes scale-hover {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1.05);
  }
}
.animated-fadeIn {
  animation: fade-in 0.7s;
}

.animated-scale:hover {
  animation: scale-hover 0.5s;
  transform: scale(1.05);
}

/* Estipos para página con bootstrap */
#bootstrap {
  font-size: 18px !important;
  font-family: "Poppins", sans-serif !important;
}
#bootstrap header ul {
  margin-bottom: 0 !important;
}

/*# sourceMappingURL=style.css.map */
