/* section-servicios */

section.servicios {
    text-align: right;
    display: flex;
    flex-direction: column;

    .servicio {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 50px auto;
    }

    h4 {
        display: inline-block;
        width: 50%;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 3rem;
        text-align: left;
    }

    .contenido {
        display: inline-block;
        text-align: left;
        width: 50%;

        p {
            color: var(--text-color-ligth);
            margin: 0;
        }
    }

    ul {
        display: inline-block;
        text-align: left;
        list-style: none;
        padding-left: 0;
        margin: 1em 0;

        li {
            border-top-color: rgba(99, 116, 133, 0.25);
            color: var(--text-color-ligth);
            font-size: 0.85rem;
            border-top: solid 1px;
            padding: 0.5em 0;

            &:first-child {
                border-top: 0;
                padding-top: 0;
            }

            span {
                font-weight: 600;
                color: var(--text-color);
            }
        }
    }
}
